{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


    <!-- все приколюхи для html файла дерни из папки с бойлерплейтом -->

    <link rel="stylesheet" href="{% static "css/vendor.css" %}">

    <!-- для продакшена не забудь расскомментировать -->
    <link rel="stylesheet" href="{% static "css/custom.css" %}">

    <!-- LESS на продакшене закомментировать -->
    <!--<link  href="less/main.less" rel="stylesheet/less" type="text/css">-->


</head>
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">
        Вы используете броузер, который <strong>больше не поддерживается</strong>.
        Пожалуйста, <a href="http://browsehappy.com/">обновите ваш броузер</a>
        и почувствуйте себя круто!
    </p>
    <![endif]-->


<!-- header-block -->
    <section class="header">
        <div class="container">

            <!-- large screens -->
            <div class="row hidden-xs hidden-sm hidden-md">

                <div class="col-md-3 col-lg-3 header__marg-top_15 header__main-nav_logo">
                    {% for object in logo %}
                    <h1>
                        <span class="logo-text__bold">{{ object.title }}</span>
                        <br/>
                        <span class="logo-text">{{ object.city }}</span>
                    </h1>
                    {%  endfor %}
                </div>
                <div class="col-md-6 col-lg-6 header__marg-top_38 header__main-nav">
                    <ul class="header__nav">
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-about_company__link" >О компании</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-services__link" >Услуги</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-contacts__link" >Контакты</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-cooperartion__link" >Сотрудничество</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 header__marg-top_20 text-right">
                    <div class="header__phone-number">
                        <span class="header__phone-number">
                            {% for contact in contacts %}
                                {{ contact.phone1 }}
                            {% endfor %}
                        </span> <span class="header__phone-prefix">/</span> <span class="header__phone-number">
                            {% for contact in contacts %}
                                {{ contact.phone2 }}
                            {% endfor %}
                        </span>
                    </div>
                    <div class="header__phone-link">
                        <a href="" class="call-back-order">Заказать обратный звонок</a>
                    </div>
                </div>

            </div>
            <!-- large screens -->

            <!-- middle screens -->
            <div class="row hidden-xs hidden-lg">

                <div class="col-sm-6 col-md-6 header__marg-top_33 header__main-nav_logo text-center">
                    {% for log in logo %}
                    <h1>
                        <span class="logo-text__bold">{{ log.title }}</span> <span class="logo-text">{{ log.city }}</span>
                    </h1>
                    {% endfor %}
                </div>
                <div class="col-sm-6 col-md-6 header__marg-top_20 text-center">
                    <div class="header__phone-number">
                        <span class="header__phone-number">{% for contact in contacts %}
                                {{ contact.phone1 }}
                            {% endfor %}</span> <span class="header__phone-prefix">/</span> <span class="header__phone-number">{% for contact in contacts %}
                                {{ contact.phone1 }}
                            {% endfor %}</span>
                    </div>
                    <div class="header__phone-link">
                        <a href="" class="call-back-order">Заказать обратный звонок</a>
                    </div>
                </div>

                <div class="col-sm-10 col-md-9 col-sm-offset-2 col-md-offset-3 header__marg-top_38 header__main-nav text-center">
                    <ul class="header__nav">
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-about_company__link" >О компании</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-services__link" >Услуги</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-contacts__link" >Контакты</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-cooperartion__link" >Сотрудничество</a></li>
                    </ul>
                </div>


            </div>
            <!-- middle screens -->

            <!-- small screens -->
            <div class="row hidden-lg hidden-sm hidden-md">

                <div class="col-xs-12 header__marg-top_33 header__main-nav_logo text-center">
                    {% for log in logo %}
                    <h1>
                        <span class="logo-text__bold">{{ log.title }}</span> <span class="logo-text">{{ log.city }}</span>
                    </h1>
                    {% endfor %}
                </div>
                <div class="col-xs-12 header__marg-top_20 text-center">
                    <div class="header__phone-number">
                        <span class="header__phone-number">{% for contact in contacts %}
                                {{ contact.phone1 }}
                            {% endfor %}</span> <span class="header__phone-prefix">/</span> <span class="header__phone-number">{% for contact in contacts %}
                                {{ contact.phone1 }}
                            {% endfor %}</span>
                    </div>
                    <div class="header__phone-link">
                        <a href="#" class="call-back-order">Заказать обратный звонок</a>
                    </div>
                </div>

                <div class="col-xs-12 header__marg-top_38 header__main-nav text-center">
                    <ul class="header__nav">
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-about_company__link" >О компании</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-services__link" >Услуги</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-contacts__link" >Контакты</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-cooperartion__link" >Сотрудничество</a></li>
                    </ul>
                </div>

            </div>
            <!-- small screens -->

        </div>
    </section>
    <!-- header-block -->



    <!-- slider-block -->
    <div id="carousel-example-generic-main" class="carousel slide slider-block" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators main-slider__carousel-indicators">
            {% for slide in slides_head %}
                <li data-target="#carousel-example-generic-main" data-slide-to="{{forloop.counter0 }}" class="indicator-white{% if forloop.first %} active {% endif %}"></li>
            {% endfor %}
        </ol>


        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            {% for slide in slides_head %}

            <!-- frame-1 -->
                {% if forloop.first %}
                    <div class="item active correctPictureForSlider">
                {% else %}
                    <div class="item correctPictureForSlider">
                {% endif %}

                <img class="correctPictureForSliderImg" src="{% static slide.photo %}" alt="{{ slide.title }}">
                <div class="carousel-caption slider-block__no-carousel-paddings">

                    <div class="container">

                        <!-- отображение на устройствах на всех устройствах кроме телефонов -->
                        <div class="row hidden-xs">
                            <div class="col-sm-12 col-md-8 col-lg-6 text-left slider-block__no-pad-left">
                                <div class="slider-block__header">
                                   {{ slide.title }}
                                </div>
                                <div class="slider-block__list">
                                    <ul>
                                        {% for list in all_slides_list %}
                                            {% if slide.id == list.2 %}
                                        <li>
                                            <span>
                                               {{ list.1 }}
                                            </span>
                                        </li>
                                            {% else %}

                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="slider-block__link">

                                </div>

                            </div>
                            <div class="col-md-6 col-lg-6"></div>
                        </div>
                        <!-- отображение на устройствах на всех устройствах кроме телефонов -->

                        <!-- отображение на телефонах -->
                        <div class="row hidden-sm hidden-md hidden-lg text-left">
                            <div class="col-xs-12">
                                <div class="slider-block__header">
                                    {{ slide.title }}
                                </div>
                                <div class="slider-block__list">
                                    <ul>
                                        {% for list in slide_list %}
                                        <li>
                                            <span>
                                               {{ list.list }}
                                            </span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="slider-block__link">

                                </div>

                            </div>

                        </div>
                        <!-- отображение на телефонах -->


                    </div>


                </div>
            </div>
            <!-- frame-1 -->

            {% endfor %}

        </div>
    </div>
    <!-- slider-block -->



    <!-- service-block -->
    <section class="service-block">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="service__caption">

                        <div class="service-block__header">
                            <h2>
                                Наши услуги
                            </h2>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">

                {% for service in services %}

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="thumbnail serv-thumbnail">
                        <img class="img-rounded marg-top__20" src="http://{{ service.photo }}" alt="{{ service.title }}">
                        <div class="caption">
                            <h3 class="text-center">{{ service.title }}</h3>
                            <p>{{ service.description }}</p>
                            <p class="text-center marg-top__20">
                                <a href="" class="btn btn-primary" role="button" data-toggle="modal" data-target="#modalOrder{{ service.id }}">Подробнее</a>
                                <a href="" class="btn btn-success" role="button" data-toggle="modal" data-target="#modalOrder{{ service.id }}">Заказать</a>
                            </p>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>

        </div>
    </section>
    <!-- service-block -->


    <!-- how-to-use-block -->
    <section class="how-to-use-block">
        <div class="dark-divider">
            <div class="container">
                <div class="row dark-divider__mainrow">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 dark-divider__text dark-divider__text-align_mod">
                        <span>
                            Как мы работаем
                        </span>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row dark-divider__buttonrow">

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="thumbnail black__thumbnail">
                            <img src="{% static "img/how-work-1.png"%}" alt="...">
                            <div class="caption white__caption">

                                <p class="text-center marg-top__20">
                                    1. Вы выбираете услугу и нажимаете на кнопку заказа
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="thumbnail black__thumbnail">
                            <img src="{% static "img/how-work-2.png"%}" alt="...">
                            <div class="caption white__caption">

                                <p class="text-center marg-top__20">
                                    2. В кратчайшие сроки с вами связывается наш менеджер, для уточнения деталей заказа
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="thumbnail black__thumbnail">
                            <img src="{% static "img/how-work-3.png"%}" alt="...">
                            <div class="caption white__caption">

                                <p class="text-center marg-top__20">
                                    3. По уточненной заявке мы отправляем к вам специалиста, который выполняет все услуги качественно и быстро
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="thumbnail black__thumbnail">
                            <img src="{% static "img/how-work-4.png"%}" alt="...">
                            <div class="caption white__caption">

                                <p class="text-center marg-top__20">
                                    4. После этого мы получаем самое важное в нашей работе &mdash; довольного клиента
                                </p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- how-to-use-block -->

    <!-- cooperation-block -->
    <section class="cooperation-block">
        <div class="container">

            <div class="row dark-divider__mainrow">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 dark-divider__text dark-divider__text-align_mod cooperation__header-text">
                    <span>
                        Сотрудничество
                    </span>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <div class="cooperation__text">
                <p>
                    {% for coop in cooperation %}
                        {{ coop.text }}
                    {% endfor %}
                </p>
            </div>


        </div>
    </section>
    <!-- cooperation-block -->


    <!-- feedback-block -->
    <section class="feed-back-block">
        <div class="container feed-back-block__container">

            <div class="feed-back__main-caption">
                <div class="feed-back__caption-block">
                    <h2 class="text-center">
                        Отзывы
                    </h2>
                </div>
                <div class="feed-back__left-quote hidden-xs">
                    <img src="{% static "img/feed-back/left-quote.png"%}" alt=""/>
                </div>
                <div class="feed-back__right-quote hidden-xs">
                    <img src="{% static "img/feed-back/right-quote.png"%}" alt=""/>
                </div>
            </div>

            <!-- слайдер отображается на всех экранах кроме телефонов -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                {% comment %}<ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="indicator-blue active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="indicator-blue"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="indicator-blue"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" class="indicator-blue"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4" class="indicator-blue"></li>
                </ol>{% endcomment %}

                <ol class="carousel-indicators">
                    {% for slide in slides_review %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0 }}" class="indicator-blue{% if forloop.first %} active {% endif %}"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    {% for slide in slides_review %}

                    <div class="item feed-back__fadeInRight{% if forloop.first %} active {% endif %}">
                        <img src="{% static "img/feed-back/test_4.png" %}" alt="..." class="hidden-xs">
                        <img src="{% static "img/feed-back/xs-test_4.png" %}" alt="..." class="hidden-sm hidden-md hidden-lg">
                        <div class="carousel-caption feed-back__no-carousel-paddings">

                            <!-- отображение только на больших экранах -->
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-lg-1"></div>
                                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10 text-center feed-back__main-text">
                                    {{ slide.text }}
                                </div>
                                <div class="col-sm-3 col-md-2 col-lg-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center feed-back__author">
                                    {{ slide.person }}
                                </div>
                                <div class="col-lg-12 text-center feed-back__position">
                                    {{ slide.organization }}
                                </div>
                            </div>
                            <!-- отображение только на больших экранах -->


                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
            <!-- слайдер отображается на всех экранах кроме телефонов -->


        </div>
    </section>
    <!-- feedback-block -->


    <!-- social-block -->
    <section class="social-block">
        <div class="container">

            <div class="social-block__region">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for tab in tabs_item %}

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    {% for tab in tabs %}
                                        {{ tab.title }}
                                    {% endfor %}
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    {% for tab in tabs_item %}
                                        <li>
                                            {{ tab.1 }}
                                            <a href="{{ tab.2 }}">{{ tab.2 }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>

        </div>
    </section>
    <!-- social-block -->

    <!-- footer-block -->
    <section class="footer-block">
        <div class="container">

            <!-- large screens -->
            <div class="row hidden-xs hidden-sm hidden-md">

                <div class="col-md-3 col-lg-3 header__marg-top_15 header__main-nav_logo">
                    {% for object in logo %}
                    <h1>
                        <span class="logo-text__bold">{{ object.title }}</span>
                        <br/>
                        <span class="logo-text">{{ object.city }}</span>
                    </h1>
                    {%  endfor %}
                </div>
                <div class="col-md-6 col-lg-6 header__marg-top_38 header__main-nav">
                    <ul class="header__nav">
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-about_company__link" >О компании</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-services__link" >Услуги</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-contacts__link" >Контакты</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-cooperartion__link" >Сотрудничество</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 header__marg-top_20 text-right">
                    <div class="header__phone-number">
                        <span class="header__phone-number">
                            {% for contact in contacts %}
                                {{ contact.phone1 }}
                            {% endfor %}
                        </span> <span class="header__phone-prefix">/</span> <span class="header__phone-number">
                            {% for contact in contacts %}
                                {{ contact.phone2 }}
                            {% endfor %}
                        </span>
                    </div>
                    <div class="header__phone-link">
                        <a href="" class="call-back-order">Заказать обратный звонок</a>
                    </div>
                </div>

            </div>
            <!-- large screens -->

            <!-- middle screens -->
            <div class="row hidden-xs hidden-lg">

                <div class="col-sm-6 col-md-6 header__marg-top_33 header__main-nav_logo text-center">
                    {% for log in logo %}
                    <h1>
                        <span class="logo-text__bold">{{ log.title }}</span> <span class="logo-text">{{ log.city }}</span>
                    </h1>
                    {% endfor %}
                </div>
                <div class="col-sm-6 col-md-6 header__marg-top_20 text-center">
                    <div class="header__phone-number">
                        <span class="header__phone-number">{% for contact in contacts %}
                                {{ contact.phone1 }}
                            {% endfor %}
                        </span> <span class="header__phone-prefix">/</span> <span class="header__phone-number">{% for contact in contacts %}
                                {{ contact.phone1 }}
                            {% endfor %}</span>
                    </div>
                    <div class="header__phone-link">
                        <a href="" class="call-back-order">Заказать обратный звонок</a>
                    </div>
                </div>

                <div class="col-sm-10 col-md-9 col-sm-offset-2 col-md-offset-3 header__marg-top_38 header__main-nav text-center">
                    <ul class="header__nav">
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-about_company__link" >О компании</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-services__link" >Услуги</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-contacts__link" >Контакты</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-cooperartion__link" >Сотрудничество</a></li>
                    </ul>
                </div>


            </div>
            <!-- middle screens -->

            <!-- small screens -->
            <div class="row hidden-lg hidden-sm hidden-md">

                <div class="col-xs-12 header__marg-top_33 header__main-nav_logo text-center">
                    {% for log in logo %}
                    <h1>
                        <span class="logo-text__bold">{{ log.title }}</span> <span class="logo-text">{{ log.city }}</span>
                    </h1>
                    {% endfor %}
                </div>
                <div class="col-xs-12 header__marg-top_20 text-center">
                    <div class="header__phone-number">
                        <span class="header__phone-number">{% for contact in contacts %}
                                {{ contact.phone1 }}
                            {% endfor %}</span> <span class="header__phone-prefix">/</span> <span class="header__phone-number">{% for contact in contacts %}
                                {{ contact.phone1 }}
                            {% endfor %}</span>
                    </div>
                    <div class="header__phone-link">
                        <a href="#" class="call-back-order">Заказать обратный звонок</a>
                    </div>
                </div>

                <div class="col-xs-12 header__marg-top_38 header__main-nav text-center">
                    <ul class="header__nav">
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-about_company__link" >О компании</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-services__link" >Услуги</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-contacts__link" >Контакты</a></li>
                        <li class="header__nav__navs"><a href="#" class="header__nav__link scroll-cooperartion__link" >Сотрудничество</a></li>
                    </ul>
                </div>

            </div>
            <!-- small screens -->

        </div>
    </section>
    <!-- footer-block -->

    <!-- ip24-block -->
    <section class="ip34-block">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="ip34__dark-divider text-center">
                    <span>
                        Разработка и сопровождение сайта &mdash; <a class="ip34__link" href="http://ip34.ru">ip34.ru</a>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <!-- ip24-block -->

    {% for service in services %}
     <!-- order-modal -->
    <div class="modal fade bs-example-modal-lg" id="modalOrder{{ service.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <form action="">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalOrderLabel">Заказ услуги {{ service.title }} </h4>
                    </div>

                    <div class="modal-body">
                        <table class="table table-striped">
                            <input name="service" type="hidden" value="serv{{ service.id }}"/>
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Цена</th>
                                    <th>Выбор</th>
                                    <th>Примечание</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for uservice in uservices_list %}
                                    {% if service.id == uservice.4 %}
                                        <tr>
                                            <td>{{ uservice.1 }}</td>
                                            <td>{{ uservice.2 }} руб.{% if uservice.5 %}/
                                                {% if uservice.5 == 'HOUR' %}
                                                    Час
                                                {% elif uservice.5 == 'FLOOR' %}
                                                    Этаж
                                                {% elif uservice.5 == 'SMETR' %}
                                                    Кв.метр
                                                {% elif uservice.5 == 'DOT' %}
                                                    Точка
                                                {% elif uservice.5 == 'ITEM' %}
                                                    Шт.
                                                {% elif uservice.5 == 'KG' %}
                                                    Кг
                                                {% elif uservice.5 == 'L' %}
                                                    Литр
                                                {% endif %}
                                            {% endif %}
                                            </td>
                                            <td>
                                                <input type="checkbox" name="serv{{ uservice.0 }}" id="serv{{ uservice.0 }}"/>
                                            </td>
                                            <td>{{ uservice.6 }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="form-group">
                            <span class="modal__caption">
                                Укажите ваши данные для связи
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="inputPhone">Номер телефона</label>
                            <input type="text" class="form-control" id="inputPhone" placeholder="Укажите номер телефона">
                        </div>

                        <div class="form-group">
                            <label for="inputEmail">Email адрес</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Введите email">
                        </div>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary">Оформить заказ</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <!-- order-modal -->
    {% endfor %}

     <!-- contacts-modal -->
    <div class="modal fade bs-example-modal-sm" id="modalContacts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <form action="">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalContactsLabel">Контакты</h4>
                    </div>

                    <div class="modal-body">

                        <div class="form-group">
                            <span class="modal__caption">
                                {% for contact in contacts_modal %}
                                    {{ contact.phone1 }}<br/>
                                    {{ contact.phone2 }}<br/>
                                    <a href="mailto:{{ contact.email }}">{{ contact.email }}</a><br/>
                                {% endfor %}


                            </span>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <!-- contacts-modal -->

 <!-- order-call-back -->
    <div class="modal fade bs-example-modal-sm" id="modalCallBack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <form action="">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalCallBackLabel">Заказать звонок</h4>
                    </div>

                    <div class="modal-body">

                        <div class="form-group">
                            <span class="modal__caption">
                                Укажите ваши данные для связи
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="inputPhoneCallBack">Номер телефона</label>
                            <input type="text" class="form-control" id="inputPhoneCallBack" placeholder="Укажите номер телефона">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary">Заказать звонок</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <!-- order-call-back -->

    <script src="{% static "js/vendor.js" %}"></script>

    <script src="{% static "js/custom.js" %}"></script>

   {% comment %} <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
    <!--<script src="bower_components/boilerplate/assets/js/main.js"></script>-->
    <script src="{% static "bower_components/jqueryui/jquery-ui.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>



    <script src="{% static "js/mainslider.js" %}"></script>
    <script src="{% static "js/common.js" %}"></script>{% endcomment %}

    <!-- Не забудь подключить сюда less.js -->
    <!-- а на продакшене закомментировать -->
    <!--<script src="bower_components/less/dist/less.js"></script>-->

</body>
</html>